.many__cards {
  padding: 40px 0px 50px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    .many__card {
      padding: 20px 10px 20px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      width: 100%;
      border-radius: 10px;
      background: rgb(244, 246, 250);
      @media only screen and (min-width: 400px) {
        max-width: 280px;
        justify-content: flex-start;
      }
      .many__card__text__wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
