.singleRoute {
  padding: 300px 0px 200px;
  //   background-color: red;
}
.singleRoute__wrapper {
  padding: 30px 0;
  display: flex;
  gap: 150px;
}
.singleRoute__wrapper__left__top {
  display: flex;
  gap: 50px;
}

.single__wrapper__left__top__left {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__img__wrapper {
    width: 100%;
    max-width: 450px;
    height: 500px;
    border-radius: 16px;
    border: 2px solid rgb(162, 210, 201);
    display: flex;
    align-items: center;
    justify-content: center;
    .singleRoute__img {
      object-fit: cover;
      width: 100%;
      max-width: 400px;
      height: 400px;
    }
    .singleRoutes__wrapper__top__left__images {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        padding: 5px;
        box-sizing: border-box;
        border: 2px solid rgb(162, 210, 201);
        border-radius: 17px;
        background: url();
      }
    }
  }
  .singleRoutes__wrapper__top__left__images {
    display: flex;
    align-items: center;
    gap: 12px;
    img {
      width: 100%;
      max-width: 100px;
      height: 100px;
      box-sizing: border-box;
      border: 2px solid rgb(162, 210, 201);
      border-radius: 17px;
      background: url();
    }
  }
}
.single__wrapper__left__top__right {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__btn {
    width: 100%;
    max-width: 80px;
    padding: 12px 10px;
    border-radius: 5px;
    color: rgb(247, 75, 129);
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0%;
    background: rgb(253, 224, 233);
  }
  &__title {
    width: 100%;
    max-width: 440px;
    color: rgb(37, 61, 78);
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
  }
  .single__top__right__wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
    svg {
      font-size: 23px;
      color: orange;
    }
    p {
      color: rgb(182, 182, 182);
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
    }
  }
  .single__price__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    p {
      color: rgb(59, 183, 126);
      font-family: Quicksand;
      font-size: 58px;
      font-weight: 700;
      line-height: 58px;
      letter-spacing: 0%;
    }
    del {
      color: rgb(182, 182, 182);
      font-family: Quicksand;
      font-size: 28px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0%;
      text-decoration-line: line-through;
    }
  }
  .single__top__left__description {
    width: 100%;
    max-width: 466px;
    color: rgb(126, 126, 126);
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .single__top__left__category {
    color: rgb(126, 126, 126);
    font-family: Lato;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .buy__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    .count__wrapper {
      width: 100%;
      max-width: 90px;
      padding: 5px 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      border: 2px solid rgb(59, 183, 126);
      border-radius: 5px;
      background: rgb(255, 255, 255);
      .nav__images {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: white;
        svg {
          background-color: white;
        }
      }
      span {
        color: rgb(0, 0, 0);
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
      }
    }
  }
  .single__btn__add {
    width: 100%;
    max-width: 150px;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.5px;
    text-align: center;
    background: rgb(59, 183, 126);
  }
  .heart {
    padding: 14px 15px;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    svg {
      font-size: 25px;
      color: gray;
    }
  }
}
.singleRoute__wrapper__left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.singleRoute__wrapper__left__bottom {
  width: 100%;
  max-width: 950px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 15px;

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
    &__item {
      box-sizing: border-box;
      border: 1px solid rgb(236, 236, 236);
      border-radius: 30px;
      box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
      background: rgb(255, 255, 255);
      padding: 12px 25px;
      color: rgb(126, 126, 126);
      font-family: Quicksand;
      font-size: 17px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 0%;
      text-align: center;
      .singleRoute__link:active {
        color: rgb(59, 183, 126);
      }
    }
  }
  p {
    color: rgb(126, 126, 126);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .single__wrapper__bottom__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    li {
      display: flex;
      align-items: center;
      gap: 70px;
      color: rgb(126, 126, 126);
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      span {
        width: 100%;
        max-width: 202px;
      }
    }
  }
  .singleRoute__wrapper__bottom__title {
    color: rgb(37, 61, 78);
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0%;
  }
  .singleRoute__bottom__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
      color: rgb(126, 126, 126);
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
    }
  }
}
.singleRoute__wrapper__right {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__category {
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 15px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 0);
    width: 100%;
    max-width: 350px;
    padding: 30px;
  }
  &__title {
    color: rgb(37, 61, 78);
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0%;
  }
  .singleRoute__right__category__cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .singRoute__right__card {
      padding: 10px 19px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 288px;
      box-sizing: border-box;
      border: 1px solid rgb(242, 243, 244);
      border-radius: 5px;
      .img__text__wrapper {
        display: flex;
        align-items: center;
        gap: 15px;
        img {
          width: 30px;
          height: 30px;
        }
        p {
          color: rgb(37, 61, 78);
          font-family: Lato;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0%;
        }
      }
      span {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: rgb(188, 227, 201);
        color: rgb(37, 61, 78);
        font-family: Lato;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
      }
    }
  }
  .single__right__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      font-family: Lato;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0%;
      span {
        color: rgb(59, 183, 126);
      }
    }
  }
  .single__right__title {
    color: rgb(126, 126, 126);
    font-family: Lato;
    font-size: 14px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .single__right__checkbox__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    li {
      input {
        box-sizing: border-box;
        border: 2px solid rgb(206, 212, 218);
        border-radius: 2px;
      }
      display: flex;
      align-items: center;
      gap: 10px;
      color: rgb(104, 113, 136);
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
    }
  }
  .single__right__btn__img__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      width: 100%;
      max-width: 106px;
      padding: 12px 12px 12px 20px;
      border-radius: 4px;
      background: rgb(59, 183, 126);
      color: rgb(255, 255, 255);
      font-family: Quicksand;
      font-size: 12px;
      font-weight: 700;
      line-height: 21.6px;
      letter-spacing: 0.5px;
      text-align: center;
      display: flex;
      align-items: center;
      gap: 10px;
      svg {
        color: white;
      }
    }
    img {
      padding-bottom: 30px;
      width: 100%;
      max-width: 130px;
      height: 130px;
    }
  }
  .single__right__newproduct__list {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
      width: 100%;
      max-width: 80px;
      height: 80px;
    }
    .newproduct__right {
      display: flex;
      flex-direction: column;
      gap: 5px;
      h3 {
        color: rgb(59, 183, 126);
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0%;
      }
      p {
        color: rgb(126, 126, 126);
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
      }
      svg {
        color: orange;
      }
    }
  }
}
