.navbar {
  position: fixed;
  width: 100%;
  z-index: 9999;
  backdrop-filter: blur(15px);
  background-color: rgba(241, 228, 228, 0.4);
  -webkit-backdrop-filter: blur(15px);
  background-color: white;
}
