.Product {
  padding-bottom: 150px;
}
.product__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    display: none;
    align-items: center;
    column-gap: 20px;
    @media only screen and (min-width: 850px) {
      display: flex;
    }
  }
  .product__list__svg {
    font-size: 25px;
    @media only screen and (min-width: 850px) {
      display: none;
    }
  }
  &__title {
    width: 100%;
    max-width: 400px;
    color: rgb(37, 61, 78);
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0%;
    @media only screen and (min-width: 400px) {
      font-size: 32px;
    }
  }
  .product__link {
    color: rgb(37, 61, 78);
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
  }
  .product__link:active {
    color: green;
  }
}
.product__wrapper__bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
  .product__card {
    padding: 10px;
    width: 100%;
    margin: auto;
    height: 430px;
    box-sizing: border-box;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 15px;
    background: rgb(255, 255, 255);
    @media only screen and (min-width: 500px) {
      max-width: 275px;
    }
    .product__img {
      display: flex;
      align-items: center;
      justify-content: center;
      object-fit: cover;
      width: 100%;
      max-width: 230px;
      height: 250px;
      margin: auto;
    }
    .product__card__content {
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .product__card__rating__wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .product__card__btn__price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .product__card__price {
        display: flex;
        align-items: center;
        gap: 10px;
        color: rgb(59, 183, 126);
        font-family: Quicksand;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0%;
        del {
          color: gray;
        }
      }

      .product__card__add {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 9px 20px;
        border-radius: 4px;
        background: rgb(222, 249, 236);
        color: rgb(59, 183, 126);
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0%;
        svg {
          font-size: 20px;
        }
      }
    }
    .product__card__title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      color: rgb(37, 61, 78);
      font-family: Quicksand;
      font-size: 16px;
      font-weight: 700;
      line-height: 19.2px;
      letter-spacing: 0%;
    }
    .product__card__category {
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
    }
    .product__card__rating__stars {
      color: orange;
      font-size: 20px;
    }
    .product__card__rating {
      color: rgb(59, 183, 126);
      font-family: Quicksand;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0%;
    }
  }
}
.loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}
// .product__wrapper__list {
//   display: none;
// }
